extends layout

block content
  form.form-horizontal(method='post', action='/login')
    .form-group
      label.labels(for='username') username:
      input#username(name='username', type='text', required='')
    .form-group
      label.labels(for='password') password:
      input#password(type='password', name='password', required='')
    .form-group
      input#login(type='submit', value='log me in')
