html
  head
    title Zarejestruj sie
    //link(href='/css/bootstrap.min.css', rel='stylesheet')
    //link(href='/css/stylesheet.css', rel='stylesheet')
    link(rel='stylesheet' href='/css/form_layout.css')
  body
    form.form-horizontal(method='post', action='/register')
      .form-group
        label.labels(for='signup-username') username:
        input#signup_username(type='text', name='username', required='')
      .form-group
        label.labels.signup-email(for='usermail') e-mail:
        input#usermail(type='email', name='email', required='')
      .form-group
        label.labels.signup-password(for='signup-password') password:
        input#signup_password(type='password', name='password', required='')
      .form-group
        label.labels.signup-reply-password(for='reply-password') reply password:
        input#reply_password.signup-reply-password(type='password', name='reply-password', required='')
      .form-group
        input#register(type='submit', value='register me')